<ion-header>
  <ion-toolbar>
    <ion-title>Weather App
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-searchbar (click)="presentPrompt()" placeholder="{{locationName}}"></ion-searchbar>
    <ion-buttons slot="start">

      <ion-button (click)="goToSettings()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="page-background" fullscreen="true">

  <ion-card *ngIf="currentWeather">
    <ion-card-header>
      <ion-card-title>Feels like: {{ currentWeather.feels_like  | number:'1.0-0'}} {{ getTempUnit() }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h1 class="current-temp">
        {{ currentWeather.temp  | number:'1.0-0'}} {{ getTempUnit() }}
        <img [src]="getWeatherIcon(currentWeather.weather[0].icon)" alt="Weather Icon" />
      </h1>
      <p>Humidity: {{ currentWeather.humidity  | number:'1.0-0'}}%</p>
      <p>Wind Speed: {{ currentWeather.wind_speed }} m/s</p>
      <p>{{ currentWeather.weather[0].description }}</p>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="hourlyForecast">
    <ion-card-header>
      <ion-card-title>Hourly Forecast</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item *ngFor="let hour of hourlyForecast">
          
          <ion-label>
            <h2>{{ timeStamp(hour.dt) }}</h2>
          </ion-label>

          <ion-label>
            <p>{{ hour.temp  | number:'1.0-0'}} {{ getTempUnit() }}</p>
          </ion-label>

            <div class="weather-row">
              <img [src]="getWeatherIcon(hour.weather[0].icon)" alt="Weather Icon" />
              <span>{{ hour.weather[0].description }}</span>
            </div>

        </ion-item>

      </ion-list>
      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="dailyForecast">
    <ion-card-header>
      <ion-card-title>5-Day Forecast</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let day of dailyForecast">
          <ion-label>
            <h2 [innerHTML]="dateFormat(day.dt)"></h2>
          </ion-label>
          <ion-label>
            {{ day.temp.day | number:'1.0-0' }} {{ getTempUnit() }}
          </ion-label>
          <div class="weather-row">
            <img [src]="getWeatherIcon(day.weather[0].icon)" alt="Weather Icon" />
            <span>{{ day.weather[0].description }}</span>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  <ion-card *ngIf="weatherData?.alerts && showAlerts" >
    <ion-card-header>
      <ion-card-title>Weather Alerts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let alert of weatherData?.alerts">
          <ion-label>
            <h2>{{ alert.event }}</h2>
            <p>{{ alert.description }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>